[Unit]
Description=The python ScoreBoard HTTP Server
After=network.target
After=wifi-portal.service

[Service]
Type=simple

ExecStart=/home/pi/scoreboard/python/WebServer.py --port 80
ExecStop=/bin/kill ${MAINPID}

[Install]
WantedBy=multi-user.target

