[Unit]
Description=The wifi access point
After=network.target

[Service]
Type=oneshot

ExecStart=/home/pi/scoreboard/system/launch-portal.sh

[Install]
WantedBy=multi-user.target


